body {
    border: 5px solid black;
    border-radius: 8px;
}

#titleBar {
    background-color: #2222AA;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-size: 3em;
    font-family: 'Kaushan Script', cursive;
    border-bottom: 5px solid black;


    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
}

#user_input {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 5px 3px 5px 3px;
    background-color: #CCCCCC;
}

#user_input input[type=text] {
    border-radius: 4px;
    background-color: #CCCCCC;
    text-shadow: 2px 2px 4px #999999;
    font-family: "Courgette", cursive;
    font-size: 1em;
    border: 2px solid #000000;
    margin: 0 3% 0 3%;
    flex: 2;
    text-align: center;
}

#user_input button {
    background-color: goldenrod;
    border: 2px solid darkgoldenrod;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    border-radius: 4px;
    
    display: flex;
    align-items: center;
}

#taskListDiv {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    height: 100vh;
    padding: 1% 10% 1% 10%;
}

#not-completed-tasks {
    background-color: #4444CC;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 4px;
    
    text-align: center;
    order: 0;
    margin: 10px 0 10px 0;
}

#completed-tasks {
    background-color: #4444CC;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Courgette', cursive;
    font-size: 1.5em;
    border: 2px solid black;
    
    order: 2;
    text-align: center;
    margin: 10px 0 10px 0;
    border-radius: 4px;
}

.task-list {
    background-color: #54CBFE;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Courgette', cursive;
    font-size: 1em;
    border: 2px solid black;
    order: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 10px;
    border-radius: 4px;
}

.title-span {
    text-align: center;
}

.priority-span {
    text-align: center;
}

#taskListDiv button {
    background-color: #54CBFE;
    border: none;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-family: 'Courgette', cursive;
    font-size: .5em;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #titleBar {
        font-size: 2em;
    }
    #not-completed-tasks {
        font-size: 1.2em;
    }
    #completed-tasks {
        font-size: 1.2em;
    }
    #user_input {
        flex-direction: column;
        font-size: .8em;
    }
    #user_input input[type=text] {
        margin: 3px 15% 3px 15%;
    }
    #user_input button {
        margin-top: 3px;
        align-self: center;
    }
    .task-list {
        font-size: .8em;
        text-align: center;
        justify-content: center;
    }
    .check {
        flex: 1;
    }
    .remove {
        flex: 1;
    }
    .task-list span {
        flex: 3;
    }
}